
<div id="home-background">
  <div class="name-and-description">
    <h1 id="name">BisonTrack</h1>
    <div class="description">La seule voie pour devenir un bison</div>

    <div class="access">
      <div class="btn-white">
        <% if user_signed_in? %>
          <%= link_to trainings_path do %>
             FEU
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            CONNEXION
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

</div>
